<div class="left_content">
	<p>
		Congratulations on reaching the final step. On this page, you will have to make use of all the clues provided to you. i.e. the Initials of all the correct answers. Rearrange the letters to come up with a meaningful name to reveal your treasure :)
</p>
	<form id="lastForm" name="lastForm" value="lastForm" action="/lastPage" method="POST">
		Name: <input type="textbox" name="lastFormName">
		<input id="lastFormSubmit" name="lastFormSubmit" type="submit" value="submit">
	</form>
	<div id="answers" name="answers">
		<% if not(@lastFormName.nil?) %>
			<% if @link <=> "no" %>
			   <h3 style=\"color:#FF0000\">Incorrect Answer!!</h3>
			<% else%>
			   <h3 style=\"color:#006600\">Correct Answer!!</h3>
			<% end %>
		<% end %>
	</div>
</div>

<div class="right_content">
	<div class="tip_box"> 
    <h2>Final Hint</h2> 
    <p class="tips">
   <br> He was known as the chocolate boy in undergrad and she loves chocolates ;) 
    </p>
   </div>
	<p>
	Initials from past answers:<br/>
	<div name="initals">
	</div>
	<div name="youtubeLink">
		<% if not(@link <=> "no") %>
		<h1>Congratulations! you have reached your destination :) and now, enjoy your prize. Do not forget to turn on the volume on your speakers ;)</h1>
		<%= link_to 'Treasure', @link %>
		
		<% end %>
	</div>
	</p>
</div>