<div class="left_content">
	<form name="lastForm" value="lastForm" action="/lastPage">
		Name: <input type="textbox" name="lastFormName">
		<input type="submit" value="submit">
	</form>
</div>
<div class="right_content">
	Initials from past answers:<br/>
	<div name="initals">
	</div>
	<div name="youtubeLink">
	</div>
</div>