<div class="left_content">
	<p>
		Congratulations on reaching the final step. On this page, you will have to make use of all the clues provided to you. i.e. the Initials of all the correct answers. Rearrange the letters to come up with a meaningful name to reveal your treasure :)
</p>
	<form id="lastForm" name="lastForm" value="lastForm">
		Name: <input id="lastFormTextBox" type="textbox" name="lastFormName">
		<input id="lastFormSubmit" name="lastFormSubmit" type="button" value="lastFormSubmit">
	</form>
	<div id="answers">
		</div>
</div>

<div class="right_content">
	<%= render "fbLogin"%>
	<div class="tip_box"> 
    <h2>Final Hint</h2> 
    <p class="tips">
   <br> He was known as the chocolate boy in undergrad and she loves chocolates ;) 
    </p>
   </div>
	<p>
	<div name="initals">
		Letters from initials on the correct answers: <br/>
		<h1>F U E Y S N N E K N</h1>
	</div>
	<div name="youtubeLink" id="youtubelink">
				
	</div>

	</p>
</div>
<script language="javascript">
	$(document).ready(function(){
		$("#lastFormSubmit").click(function(){
			document.getElementById("answers").style.display="none";
			document.getElementById("answers").style.visibility="hidden";
			$.ajax({
				url:"/lastPage"
				, type: "POST"
				, dataType: "json"
				, data: {name: $("input#lastFormTextBox").val()}
				, success: function(data){
					if(data && data.isCorrect){
						document.getElementById("answers").style.display="inline";
						document.getElementById("answers").style.visibility="visible";
						document.getElementById("answers").innerHTML="<h3 style=\"color:#006600\">There you goo!! :) Now for the actual news, you will be redirected to a youtube video!. You will also be logged out of your Facebook account</h3>";
						document.getElementById("youtubelink").innerHTML="<h1>Congratulations! you have reached your destination :) and now, enjoy your prize. Do not forget to turn on the volume on your speakers ;)</h1><br/><iframe width=\"420\" height=\"315\" src=\"http://www.youtube.com/embed/w3YOygfXTf4\" frameborder=\"0\" allowfullscreen></iframe>";
						//alert("Correct answer");
						//window.applicationCache.update();
						//window.location = data.url;
					}else{
						//alert("wrong answer")
						document.getElementById("answers").style.display="inline";
						document.getElementById("answers").style.visibility="visible";
						document.getElementById("answers").innerHTML="<h3 style=\"color:#FF0000\">Nah.. try again.. </h3>";

					}
				}
				, error: function(error){
					alert("Error!");
				}
			});
			
		});
	})
	
</script>