<div class="left_content">
	<form id="lastForm" name="lastForm" value="lastForm" action="/lastPage" method="POST">
		Name: <input type="textbox" name="lastFormName">
		<input id="lastFormSubmit" name="lastFormSubmit" type="submit" value="submit">
	</form>
	<div id="answers" name="answers">
</div>
<div class="right_content">
	Initials from past answers:<br/>
	<div name="initals">
	</div>
	<div name="youtubeLink">
		<% if not(@link.nil?)%>
		<h1>Contratulations! you have reached your destination :) and now, enjoy your prize</h1>
		<%= link_to 'Treasure', @link%>
		<% end %>
	</div>
</div>