<h1>Sample App</h1>
<p>
  Welcome to the home page for the all exciting treasure hunt! A hunt that will eventually reveal the biggest news of 2012 to the worthy league members. Follow the different clues to reach the holygrail ;)
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>