<script>
	function onSuccess(){
		document.getElementById("hiddenName").value = TreasureHunt.email;
		document.forms.hiddenUserInformation.submit();
	}
</script>    
<div class="fb-login-button" data-scope="email" onlogin="location.href = '/pages/home';">
       Login with Facebook
     </div>
	<div>
	  Welcome to the home page for the all exciting treasure hunt! A hunt that will eventually reveal the biggest news of 2012 to the worthy league members. Follow the different clues to reach the holygrail ;). Login using your facebook id and start the quest!
	  <!--<a href="/startHunt">Start here</a> -->
	</div>
	<form id = "hiddenUserInformation" name = "hiddenUserInformation" action ="/startHunt" method="post">
		<input id  = "hiddenName" type="hidden" name="email">
	</form>


