<script>
	function onSuccess(TreasureHunt){
		document.getElementById("hiddenName").value = TreasureHunt.email;
		document.forms.hiddenUserInformation.submit();
		//alert("In home.html.erb" + TreasureHunt.email);
	}
</script>    

	<div id="center_content">
    		<div class="left_content">
            
                    <h1>Welcome to the league treasure hunt</h1>
                    <p>
					<%= image_tag("images/icon1.gif", :class => "left_icon") %>
                    
                 Hello league. 2012 brings another year into our lives and just like every previous year, this year brings with it a bunch of happy news. 
                    </p>
        
        
                    <h1>Treasure maps</h1>
                    <p>
                  	<%= image_tag("images/icon2.gif", :class => "right_icon") %>

                  To find out more about the first news of 2012, you guys will have to use the treasure map... i.e. play a small game. A game where you will have to answer questions. With each answer, you get a clue to the news. At the end of the game, you will have enough clues to unravel the secret ;)  
                    </p>
                    
				<h1>Getting Started</h1>
				 <p>
                 	<%= image_tag("images/tip.png", :class => "left_icon") %>

                  To start, you will have to login through Facebook. Why? Because this game was designed by a Facebook addict ;) So go ahead and click on the login button. Don't worry, this site will not extract any information from your Facebook accounts. 
                    </p>
                    
                          <form id = "hiddenUserInformation" name = "hiddenUserInformation" action ="/startHunt" method="post">
							<input id  = "hiddenName" type="hidden" name="email">
						</form>
						   
            
            </div>
            
            
            <div class="right_content">
            	<%= render "fbLogin"%>
                     <h1>Expedition tips</h1>
                    
                    <div class="tip_box"> 
                    <h2>Unscrambling the final clue</h2> 
                    <p class="tips">
					<br>Remember to note down your answers on notepad or a piece of paper... This will finally come to your aid..
                    </p> 
                    </div>
                    
                    <div class="tip_box"> 
                    <h2>Major Tip</h2> 
                    <p class="tips">
                   <br> Just relax and enjoy the game and unravel the news of 2012 :) 
                    </p>
                    
                    </div>
					
                   
               
            
            </div>
	Blah
	</div>

