<!DOCTYPE html>
<html>
  <head>
    <title>The League Treasure Hunt!! Hunt for the holygrail 2012 | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
<div id="fb-root"></div>
 <script>
   var TreasureHunt = {};
   window.fbAsyncInit = function() {
   		FB.init({appId: '284922238186472',
       		status: true,
       		cookie: true,
       		xfbml: true
		});
		
		//After FB init check the user is logged in or not
		FB.getLoginStatus(function(response) {
			if(response){
				if (response.status == "connected") {
				//if logged in, retrieve username and email
				FB.api('/me', function(response) {
					if(response){
					  alert('Your name is ' + response.name);
					  TreasureHunt.userName = response.name;
					  TreasureHunt.email = response.email;
					}
				});
				TreasureHunt.uid = response.authResponse.userID;
				TreasureHunt.accessToken = response.authResponse.accessToken;
				if(onSuccess){ // call custom callback function on a given page
					onSuccess();
				}
			  } else {
				//if not authorized, return to the login page
				if(window.location.href.indexOf("/pages/home") == -1){
					window.location = "pages/home";
				}
			  }
			}else{
				if(window.location.href.indexOf("/pages/home") == -1){
					window.location = "pages/home";
				}
			}
		});
	
   };
   (function() {
     var e = document.createElement('script');
     e.type = 'text/javascript';
     e.src = 'http://connect.facebook.net/en_US/all.js';
     e.async = true;
     document.getElementById('fb-root').appendChild(e);
   }());
 </script>
</html>