<!DOCTYPE html>
<html>
  <head>
    <title>The League Treasure Hunt!! Hunt for the holygrail 2012 | <%= @title %></title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
	<div class="container">
	<h1 class="pageHeader">
		The league treasure hunt
	</h1>
	<%= yield %>
	<div id="loginButton", name="loginButton"class="fb-login-button fb-nav" data-scope="email" onlogin="location.href = '/pages/home'" autologoutlink="true" style="display:none;visibility:hidden">
	       Login with Facebook
	     </div>
		<div id="logoutButton", name="logoutButton"class="fb-login-button fb-nav" data-scope="email" onlogin="location.href = '/pages/home'" autologoutlink="true" style="display:none;visibility:hidden">
		       Logout
		     </div>
	</div>
  </body>
<div id="fb-root"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" language="javascript">
</script>
 <script>
   var TreasureHunt = {};
   window.fbAsyncInit = function() {
   		FB.init({appId: '284922238186472',
       		status: true,
       		cookie: true,
       		xfbml: true
		});
		
		//After FB init check the user is logged in or not
		FB.getLoginStatus(function(response) {
			if(response){
				if (response.status == "connected") {
					document.getElementById("logoutButton").style.display="inline";
					document.getElementById("logoutButton").style.visibility="visible";
					document.getElementById("loginButton").style.display="none";
					document.getElementById("loginButton").style.visibility="hidden";				
				//if logged in, retrieve username and email
				FB.api('/me', function(userData) {
					if(userData){
					  //alert('In application.html.erb. Your name is ' + userData.name);
					  TreasureHunt.userName = userData.name;
					  TreasureHunt.email = userData.email;					
					TreasureHunt.uid = response.authResponse.userID;
					TreasureHunt.accessToken = response.authResponse.accessToken;
					  if(onSuccess){ // call custom callback function on a given page
						onSuccess(TreasureHunt);
					  }
					}
				});
				TreasureHunt.uid = response.authResponse.userID;
				TreasureHunt.accessToken = response.authResponse.accessToken;
				
			  } else {
				//if not authorized, return to the login page
				document.getElementById("loginButton").style.display="inline";
				document.getElementById("loginButton").style.visibility="visible";
				document.getElementById("logoutButton").style.display="none";
				document.getElementById("logoutButton").style.visibility="hidden";
				if(window.location.href.indexOf("/pages/home") == -1){
					window.location = "pages/home";
				}
			  }
			}else{
				document.getElementById("loginButton").style.display="inline";
				document.getElementById("loginButton").style.visibility="visible";
				document.getElementById("logoutButton").style.display="none";
				document.getElementById("logoutButton").style.visibility="hidden";
				if(window.location.href.indexOf("/pages/home") == -1){
					window.location = "pages/home";
				}
			}
		});
	
   };
   (function() {
     var e = document.createElement('script');
     e.type = 'text/javascript';
     e.src = 'http://connect.facebook.net/en_US/all.js';
     e.async = true;
     document.getElementById('fb-root').appendChild(e);
   }());
 </script>
</html>