<!DOCTYPE html>
<html>
  <head>
    <title>The League Treasure Hunt!! Hunt for the holygrail 2012 | <%= @title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
<div id="fb-root"></div>
 <script>
   window.fbAsyncInit = function() {
   		FB.init({appId: '284922238186472',
       		status: true,
       		cookie: true,
       		xfbml: true
		});
		
		//After FB init check the user is logged in or not
		FB.getLoginStatus(function(response) {
		  if (response.session) {
		    // logged in and connected user, someone you know
		    alert('Welcome! Facebook user.');
			TreasureHunt.uid = response.authResponse.userID;
			TreasureHunt.accessToken = response.authResponse.accessToken;
		  } else {
		    // no user session available, someone you dont know
		    //alert('Who are you?');
		    //window.location = "/pages/home"
			if(window.location.href.indexOf("/pages/home") == -1){
				window.location = "pages/home";
			}
		  }
		});
	
   };
   (function() {
     var e = document.createElement('script');
     e.type = 'text/javascript';
     e.src = //document.location.protocol +
     'http://connect.facebook.net/en_US/all.js';
     e.async = true;
     document.getElementById('fb-root').appendChild(e);
   }());
 </script>
</html>